@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<EmployeeController>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>FullName</th>
                <th>EmployeeID</th>
                <th>SIN</th>
                <th>PhoneNumber</th>
                <th>City</th>
                <th>Salary</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.EmployeeID</td>
                    <td>@item.SIN</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.City</td>
                    <td>@item.Salary</td>
                    <td>@item.Country</td>
                </tr>
            }
        </tbody>
    </table>
</body>


@* @(Html.Kendo().Grid()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id);
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Age);
    })
    .Pageable()
    .Sortable()
    .Filterable()
)
 *@
</html>